/**
 * Beige theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);*/

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #02303A;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 3.77em;
}

.reveal h2 {
    font-size: 2.11em;
}

.reveal h3 {
    font-size: 1.55em;
}

.reveal h4 {
    font-size: 1em;
}

.title section {
    position: absolute;
    -webkit-transform: translate(0, 100%);
}

.title h1, .preamble p {
    text-align: center;
    font-size: 1em;
}

.title h2 {
    color: white;
    font-size: 1.6em;
}

.title p {
    color: white;
    font-size: 0.7em;
}

.author {
    color: white;
    font-weight: 300;
}

section.has-dark-background,
section.has-dark-background h2,
section.has-dark-background h3 {
    color: white;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: 700;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: 300;
}

.reveal dd {
    margin-left: 40px;
}
.reveal dd p {
    margin-top: 0;
}

.reveal q,
.reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: 700;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small, .reveal .small {
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #00C489;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal a:hover {
    color: #00C489;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #02303A;
    background: white;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0px;
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: #00C489;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: #00C489;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: #00C489;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: #00C489;
}

.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #00C489;
}

.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #00C489;
}

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #00C489;
}

.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #00C489;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: #23A1C7;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.pictureWrapper {
    width: 100%;
}

.picture {
    width: 100%;
    position: absolute;
    top: -50px;
    right: 0px;
    z-index: 2;
    text-align: right;
}

.drawing {
    position: relative;
    display: block;
    width: 100%;
    height: 650px;
}

.drawing canvas {
    left: 0;
    top: 0;
}

.reveal code {
    font-weight: 400;
}

.reveal pre code {
    font-size: 1.6em;
    line-height: 1.2em;
    font-weight: 400;
}

.reveal .fa {
    font-family: 'FontAwesome';
    font-style: normal;
}

.footer {
    font-family: "Lato", sans-serif;
    z-index: 10;
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 62px;
    background-position: center top;
}

.footer img {
    position: absolute;
    top: 0px;
    right: 0px;
    height:100%;
}

.footer p {
    margin: 0px;
    text-align: left;
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold
}



