.reveal h1 {
    font-size: 2.5em;
}

.reveal h2 {
    font-size: 1.9em;
}

.reveal h3 {
    font-size: 1.0em;
}

.reveal p {
    font-size: 0.75em;
    margin: 20px 0;
    line-height: 1.3;
}

#about_me p {
    font-size: 0.75em;
    margin: 20px 0;
    line-height: 1.3;
    color: #FFFFFF;
}


